<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>[title]</title>
    <link href="__PUBLIC__/img/PageIcon.jpg" rel="icon">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
</head>
<script src="__PUBLIC__/js/jquery.min.js"></script>

<script>
    var navLeftUrl = "{:U('Template/nav-left')}";
    var navTopUrl = "{:U('Template/nav-top')}";
    var myQ = "{:U('MyQuestionnaire/index')}"


</script>